
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/img/indir.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Mertcan Uygun</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-award"></i>
                        <p>
                            Artist Page
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Artist/Add" class="nav-link">
                                <i class="far fa-artstation nav-icon"></i>
                                <p>Create Artist</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Artist/List" class="nav-link">
                                <i class="far fa-table nav-icon"></i>
                                <p>List of Active Artists</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Artist/DeletedItems" class="nav-link">
                                <i class="far fa-table nav-icon"></i>
                                <p>List of Passive Artists</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>
                            Album Page
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Album/Add" class="nav-link">
                                <i class="far fa-cube nav-icon"></i>
                                <p>Create Album</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Album/List" class="nav-link">
                                <i class="far fa-calendar nav-icon"></i>
                                <p>List of Albums</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Album/DeletedItems" class="nav-link">
                                <i class="far fa-table nav-icon"></i>
                                <p>List of Passive Albums</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>