@model  IEnumerable<MVC_Project_Example.Models.VM.AlbumVM>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-gray-dark">
            <div class="card-header">
                <h5 class="card-title">Album List</h5>
            </div>
            <div class="card-body">
                <div class="table table-responsive table-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Album Title</th>
                                <th>Artist Id</th>
                                <th>Total Track</th>
                                <th>Details</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.ArtistId</td>
                                    <td>@item.TotalTrack</td>
                                    <td>
                                        <a href=" /Album/Details/@item.Id" class="btn btn-sm btn-info">Details</a>
                                    </td>
                                    <td>
                                        <a href=" /Album/Update/@item.Id" class="btn btn-sm btn-warning">Update</a>
                                    </td>
                                    <td>
                                        <a href=" /Album/Delete/@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="/Album/Add" class="btn btn-default btn-block">Create A New One</a>
            </div>
        </div>
    </div>
</div>


